.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > main {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }
}
